<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	  	<typeAliases>
	  		<typeAlias type="com.winter.app.product.ProductDTO" alias="ProductDTO"/>
	  		<typeAlias type="com.winter.app.product.ProductFileDTO" alias="ProductFileDTO"/>
	  		<typeAlias type="com.winter.app.board.notice.NoticeDTO" alias="NoticeDTO"/>
	  		<typeAlias type="com.winter.app.board.qna.QnaDTO" alias="QnaDTO"/>
	  		<typeAlias type="com.winter.app.util.Pager" alias="Pager"/>
	  		<typeAlias type="com.winter.app.board.BoardDTO" alias="BoardDTO"/>	  	
	  		<typeAlias type="com.winter.app.board.BoardFileDTO" alias="BoardFileDTO"/>
	  		<typeAlias type="com.winter.app.member.MemberDTO" alias="MemberDTO"/>
	  		<typeAlias type="com.winter.app.member.AvatarDTO" alias="AvatarDTO"/>
	  		<typeAlias type="com.winter.app.account.AccountDTO" alias="AccountDTO"/>
	  		<typeAlias type="com.winter.app.account.AccountDAO" alias="AccountDAO"/>
	  		<typeAlias type="com.winter.app.wishlist.WishListDAO" alias="WishListDAO"/>
	  		
	  		<typeAlias type="java.lang.Long" alias="Long"/>
	  		<typeAlias type="java.util.List" alias="List"/>
	  	</typeAliases>
  </configuration>