<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.winter.app.member.MemberDAO">
 
 
	 	<!-- INSERT -->
	 
	 <insert id="join" parameterType="MemberDTO" >
	 
	 INSERT INTO MEMBER
	 (USERNAME, PASSWORD, PHONE, EMAIL, ADDRESS, NAME)
	 VALUES
	 (#{userName}, #{password},#{phone},#{email},#{address},#{name})
	 
	 </insert>
	 
	 <insert id="setFileAdd" parameterType="AvatarDTO">
	 
	 INSERT INTO AVATAR
	(FILENUM, USERNAME,	FILENAME, ORIGNAME)
	VALUES
	(BOARD_SEQ.NEXTVAL,	#{userName}, #{fileName}, #{origName})
	 
	 </insert>
	 
	 <insert id="setMemberRole" parameterType="MemberDTO" >
	 
	 INSERT INTO MEMBER VALUES (#{userName}, (SELECT ROLENUM FROM ROLE WHERE ROLENAME ='ROLE_MEMBER'));
	 
	 </insert>
	 
	 <!-- login -->
	 
	 <select id="getDetail" parameterType="MemberDTO" resultMap="getDetailResult">
	 
		SELECT * 
			FROM MEMBER M 
			LEFT JOIN AVATAR
			USING (USERNAME) 
			INNER JOIN MEMBERROLE MR 
			USING (USERNAME) 
			INNER JOIN ROLE R 
			USING (ROLENUM) 
		WHERE USERNAME = #{userName}
	 
	 </select>
	 
	 <resultMap type="MemberDTO" id="getDetailResult">
	 
		 <id column="USERNAME" property="userName"/>
		 <result column="PASSWORD" property="password"/>
		 <result column="PHONE" property="phone"/>
		 <result column="EMAIL" property="email"/>
		 <result column="ADDRESS" property="address"/>
		 <result column="NAME" property="name"/>
		 
		 <association property="avatarDTO" javaType="AvatarDTO"> 
			<result column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORIGNAME" property="origName"/>
		 </association>
		 <collection property="roleDTOs" javaType="List" ofType="RoleDTO">
		 	<id column="ROLENUM" property="roleNum"/>
		 	<result column="ROLENAME" property="roleName"/>		 
		 </collection>
	
	 </resultMap>
	 
	 
	 <!--update  -->
	 
	<update id="setUpdate" parameterType="MemberDTO">
	
		UPDATE MEMBER
			<set>
				<if test="name != null ||  name !=''">
					NAME = #{name},
				</if>
				<if test="name != null ||  name !=''">
					EMAIL = #{email},
				</if>
				<if test="name != null ||  name !=''">
					PHONE = #{phone},
				</if>
				<if test="name != null ||  name !=''">
					ADDRESS = #{address}
				</if>				
			</set>
			WHERE = USERNAME = ${userName}
				
	</update>	 
 
 </mapper>