<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.winter.app.products.ProductDAO">
 
 
 <insert id="add"  parameterType="ProductDTO"> 
 	INSERT INTO PRODUCT
 	VALUES (#{productNum}, 
 			#{productName},
 			#{productContents},
 			#{productRate},
 			#{productJumsu})
 </insert>
 
 
 <!-- List  -->
 
 <select id="getList" resultType="ProductDTO"  parameterType="Pager">
 
 	SELECT  * FROM 
	(SELECT ROWNUM R, P.* FROM 
	(SELECT * FROM PRODUCT ORDER BY PRODUCTNUM DESC) P)
	 WHERE R BETWEEN #{startRow} AND #{lastRow}
	 	
 </select>
 
 <select id="getTotal" resultType="long">
 	SELECT COUNT(PRODUCTNUM) FROM PRODUCT
 </select>
 
 </mapper>