<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.winter.app.board.qna.QnaDAO">
 
 
 <select id="getList" resultType="QnaDTO" parameterType="Pager">
 
 	SELECT * FROM 
	(SELECT ROWNUM R,  Q.* FROM  
	
		(SELECT * FROM QNA 	ORDER BY BOARDNUM DESC)Q
	
	)RQ
		WHERE R BETWEEN #{startRow} and #{lastRow}
 
 
 </select>
 
 
 <resultMap type="QnaDTO" id="getDetailResult">
 
 		<id column="BOARDNUM" property="boardNum"/>
 		<result column="BOARDNAME" property="boardName"/>
 		<result column="BOARDWRITER" property="boardWriter"/>
 		<result column="BOARDCONTENTS" property="boardContents"/>
 		<result column="BOARDDATE" property="boardDate"/>
 		<result column="BOARDCOUNT" property="boardCount"/>
 		<result column="BOARDREF" property="boardRef"/>
 		<result column="BOARDSTEP" property="boardStep"/>
 		<result column="BOARDDEPTH" property="boardDepth"/>
 
 </resultMap> 
 
 
 <select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
 	
 	 SELECT *
	 	FROM QNA Q
	 	LEFT JOIN QNAFILE QF
	 	USING (BOARDNUM) 
	 WHERE BOARDNUM = #{boardNum}
 
 
 
 </select>
 
 <!-- add  -->
 	<insert id="setAdd" parameterType="QnaDTO">
 		<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
 		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 	
 		INSERT INTO QNA (BOARDNUM,BOARDNAME,BOARDWRITER,BOARDCONTENTS,BOARDDATE,BOARDCOUNT,BOARDREF,BOARDSTEP,BOARDDEPTH)
					VALUES (#{boardNum}, #{boardName}, #{boardWriter}, #{boardContents}, SYSDATE, 0, #{boardNum},0,0)
 	
 	</insert>
 
 
 </mapper>